* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #f8f8f8;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    padding-top: 1px;
}

#nav {
    height: 11vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 40px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav h3 {
    display: none;
}

#nav h1 {
    /* background-color: blue; */
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Monument;
    font-size: 40px;
    letter-spacing: -1px;
    position: relative;
}

#nav h1::after {
    content: "©️";
    font-family: gilroy;
    font-weight: 500;
    font-size: 20px;
    position: absolute;
    top: 16%;
    right: 8%;
}

#nav h1::before {
    content: "model management";
    font-family: gilroy;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.2px;
    color: #666;
    position: absolute;
    bottom: 7%;
    right: 13%;
}

#nav h2 {
    /* background-color: blue; */
    height: 100%;
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #000;
    font-size: 24px;
    font-weight: 600;
    /* background-color: red; */
}

#nav h2:nth-last-child(2) {
    width: 29%;
}

#nav h2:nth-last-child(1) {
    width: 10%;
    /* background-color: red; */
}

#center {
    height: 100%;
    width: 100%;
    /* background-color: red; */
    padding: 4vw;
    position: relative;
}

#content {
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    position: relative;
}

#content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay {
    height: 52%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: red; */
    padding: 3vw;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.154);
    backdrop-filter: blur(4px); */
}

#over1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
}

#over1 h1 {
    font-family: monument;
    font-size: 3.6vw;
}

#over1 h2 {
    font-size: 1vw;
    padding: 2vw 2.2vw;
    /* background-color: blue; */
    border-radius: 50%;
    border: 1px solid #fff;
}

#over2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding: 1.5vw 0;
    /* margin-bottom: 2vw; */
}

#over2 h4 {
    font-size: 1.3vw;
    font-weight: 500;
}

#over2 img {
    height: 3vw;
}

#scroll {
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container {
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    display: inline-block;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#scroll img {
    /* display: none;*/
    height: 95%;
    border-radius: 50%;
    width: 15%;
    margin: 1vw;
    object-fit: cover;
    object-position: 30% 30%;
}

@keyframes anime {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#alphabet {
    height: 11vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#alphabet h5 {
    font-size: 1.7vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    border-bottom: 2px solid #000;
    letter-spacing: 4px;
    margin-right: 2vw;
}

#alphabet h6 {
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    /* border-bottom: 2px solid #000; */
    letter-spacing: 4px;
    padding: 0.5vw 0.7vw;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #00000000;
    transition: all ease 0.3s;
}

#alphabet h6:hover {
    border: 1px solid #000;
}


#page2 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 2vw;
    gap: 3vw;
}

#page2-part1 {
    width: 60%;
    height: 100%;
}

#page2-part1 img {
    width: 90%;
    height: 110%;
    object-fit: cover;
}

#page2-part2 {
    width: 60%;
    height: 100%;
}

#page2-part2 img {
    width: 90%;
    height: 80%;
    object-fit: cover;
}

#page2-part2 .box {
    width: 90%;
    height: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

#page2-part2 .box h5 {
    margin-top: 6vw;
    width: 100%;
    height: 100%;
    font-size: 17px;
    font-weight: 500;
    font-weight: 600;
}

#page2-part2 .box p {
    text-align: justify;
    font-size: 17px;
    line-height: 22px;
}

.shot {
    width: 100%;
    height: fit-content;
    padding: 2vw 2.5vw;
}

.shot h2 {
    font-family: monument;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.shot-section {
    width: 100%;
    /* height: 100%; */
    margin-top: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.rotate {
    width: 60%;
    text-align: center;
}

.shot .shot-section .rotate p {
    width: 80%;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    padding-left: 4vw;
    margin-top: 17vw;
}

.rotate img {
    width: 60%;
}

.image {
    width: 100%;
    height: 100%;
}

.image img {
    width: 90%;
    height: 70%;
    object-fit: cover;
}

.full-image {
    width: 100%;
    height: 100%;
    margin-top: 5vw;
    padding: 1vw 4vw;
    position: relative;
}

.full-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 30% 30%;
}

.full-image h5 {
    opacity: 0;
    font-size: 26px;
    position: absolute;
    right: 12vw;
    top: 4vw;
    color: white;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.419);
    padding: 1vw 1.2vw;
}

.full-image:hover h5 {
    opacity: 1;
    transition: 0.8s ease;
}

#page3 {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 5vw 4vw;
}

#page3>h1 {
    text-align: center;
    font-family: monument;
    text-transform: uppercase;
    font-size: 3vw;
    margin-bottom: 7vh;
}

.elem {
    height: 15vh;
    width: 100%;
    position: relative;
    /* background-color: red; */
    /* margin: 2px; */
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}

.elem img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: top;
    position: absolute;
    border-radius: 50%;
    left: 12%;
    opacity: 0;
    transition: all ease 0.5s;
}

.elem h4 {
    font-size: 1.1vw;
    text-transform: uppercase;
    font-weight: 500;
    width: 6%;
    /* background-color: red; */
}

.elem .elem-part2 {
    width: 45%;
}

.elem .elem-part2 h1 {
    font-size: 2.7vw;
    font-weight: 500;
}

.elem .elem-part2 h5 {
    font-size: 0.9vw;
    font-weight: 600;
    text-transform: uppercase;
}

.elem:nth-last-child(1) {
    border-bottom: 2px solid #000;
}

.elem:hover {
    background-color: #e6e6e6;
}

.elem:hover img {
    opacity: 1;
    left: 24%;
}

#marquee {
    /* height: 20vh; */
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    padding: 0.8vw;
    overflow-y: hidden;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#marquee h1 {
    display: inline-block;
    font-size: 3vw;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-family: monument;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#sLast {
    width: 100%;
    height: fit-content;
    display: flex;
    padding: 6vw 4vw;
    gap: 4vw;
}

#sLast h1 {
    font-family: monument;
}

#pimg1 h3 {
    width: 85%;
    margin-bottom: 2vw;
}

#pimg1 img {
    width: 82%;
    height: 50%;
    object-fit: cover;
}

#footer {
    height: fit-content;
    width: 100%;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 20px));
    }
}

@media (max-width:600px) {

    body {
        overflow-x: hidden;
    }

    #nav {
        height: 8vh;
        width: 100%;
        /* background-color: red; */
        margin-top: 20px;
        padding: 0 5vw;
    }

    #nav h1 {
        width: 40%;
        display: flex;
        justify-content: flex-start;
        font-size: 24px;
    }

    #nav h3 {
        display: block;
    }

    #nav h1::after {
        display: none;
    }

    #nav h1::before {
        display: none;
    }

    #nav h2 {
        display: none;
    }


    #center {
        height: 50%;
        width: 100%;
        /* background-color: red; */
        padding: 4vw;
        position: relative;
    }

    #content {
        height: 100%;
        width: 100%;
        /* background-color: blue; */
        position: relative;
    }

    #content video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    #overlay {
        height: fit-content;
        width: 100%;
        position: absolute;
        bottom: 0;
        /* background-color: red; */
        padding: 3vw;
        color: white;
        /* background-color: rgba(0, 0, 0, 0.154);
    backdrop-filter: blur(4px); */
    }

    #over1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2vw;
    }

    #over1 h1 {
        font-family: monument;
        font-size: 5.5vw;
        font-weight: 100;
    }

    #over1 h2 {
        font-size: 1vw;
        padding: 3vw 3.2vw;
        /* background-color: blue; */
        border-radius: 50%;
        border: 1px solid #fff;
    }

    #over2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 2px solid #fff;
        padding: 1.5vw 0;
        /* margin-bottom: 2vw; */
    }

    #over2 h4 {
        font-size: 3vw;
        font-weight: 500;
    }

    #over2 img {
        height: 5vw;
    }


    #scroll {
        height: 20vh;
        width: 100%;
        /* background-color: red; */
        white-space: nowrap;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    #container {
        width: 200%;
        height: 100%;
        /* background-color: blue; */
        display: inline-block;
        padding: 2vw;
        animation-name: anime;
        animation-duration: 9s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    #scroll img {
        /* display: none;*/
        height: 95%;
        border-radius: 50%;
        width: 11%;
        margin: 1vw;
        object-fit: cover;
        object-position: 30% 30%;
    }

    #alphabet {
        height: 7vh;
        width: fit-content;
        padding: 0 2vw;
        /* background-color: red; */
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1vw;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
    }

    #alphabet h5 {
        font-size: 1.9vw;
        text-transform: uppercase;
        font-weight: 400;
        font-style: italic;
        border-bottom: 2px solid #000;
        letter-spacing: 4px;
        margin-right: 2vw;
    }

    #alphabet h6 {
        text-align: center;
        font-size: 2vw;
        text-transform: uppercase;
        font-weight: 400;
        /* font-style: italic; */
        /* border-bottom: 2px solid #000; */
        letter-spacing: 4px;
        /* padding: 0.3vw; */
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid #00000000;
        transition: all ease 0.3s;
    }

    #alphabet h6:hover {
        border: 1px solid #000;
    }


    #page2 {
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 3vw 2.5vw;
        gap: 3vw;
    }

    #page2-part1 {
        width: 60%;
        height: 100%;
    }

    #page2-part1 img {
        width: 100%;
        height: 110%;
        object-fit: cover;
    }

    #page2-part2 {
        width: 60%;
        height: 100%;
    }

    #page2-part2 img {
        width: 100%;
        height: 80%;
        object-fit: cover;
    }

    #page2-part2 .box {
        margin-top: 1vw;
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4vw;
    }

    #page2-part2 .box h5 {
        width: 100%;
        height: 100%;
        font-size: 11px;
        font-weight: 500;
        font-weight: 600;
    }

    #page2-part2 .box p {
        text-align: justify;
        font-size: 15px;
        line-height: 22px;
    }


    .shot {
        width: 100%;
        height: fit-content;
        padding: 2vw 2.5vw;
    }

    .shot h2 {
        font-family: monument;
        font-size: 5vw;
        font-weight: 700;
        text-transform: uppercase;
    }

    .shot-section {

        width: 100%;
        height: fit-content;
        margin-top: 6vw;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3vw;
    }

    .rotate {
        width: 60%;
        text-align: center;
    }

    .rotate img {
        width: 90%;
    }


    .shot .shot-section .rotate p {
        width: 90%;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 1px;
        padding-left: 4vw;
        margin-top: 10vw;
    }


    .image {
        width: 95%;
        height: 100%;
    }

    .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .full-image {
        width: 100%;
        height: fit-content;
        margin-top: 5vw;
        padding: 1vw 4vw;
        position: relative;
    }

    .full-image img {
        width: 100%;
        /* height: 50%;  */
        object-fit: cover;
        object-position: 0% 23%;
    }

    .full-image h5 {
        opacity: 0;
        font-size: 16px;
        position: absolute;
        right: 12vw;
        top: 4vw;
        color: white;
        border-radius: 50%;
        border: 2px solid rgba(255, 255, 255, 0.419);
        padding: 1vw 1.2vw;
    }

    .full-image:hover h5 {
        opacity: 1;
        transition: 0.8s ease;
    }


    #page3 {
        height: fit-content;
        width: 100%;
        position: relative;
        padding: 5vw 4vw;
    }

    #page3>h1 {
        text-align: center;
        font-family: monument;
        text-transform: uppercase;
        font-size: 5vw;
        margin-bottom: 4vh;
    }

    .elem {
        height: 10vh;
        width: 100%;
        position: relative;
        /* background-color: red; */
        /* margin: 2px; */
        border-top: 2px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2vw;
    }

    .elem img {
        height: 50px;
        width: 50px;
        object-fit: cover;
        object-position: top;
        position: absolute;
        border-radius: 50%;
        left: 12%;
        opacity: 0;
        transition: all ease 0.5s;
    }

    .elem h4 {
        font-size: 1.5vw;
        text-transform: uppercase;
        font-weight: 500;
        width: 6%;
        /* background-color: red; */
    }

    .elem .elem-part2 {
        width: 45%;
    }

    .elem .elem-part2 h1 {
        font-size: 3.7vw;
        font-weight: 500;
    }

    .elem .elem-part2 h5 {
        font-size: 0.9vw;
        font-weight: 600;
        text-transform: uppercase;
    }

    .elem:nth-last-child(1) {
        border-bottom: 2px solid #000;
    }

    .elem:hover {
        background-color: #e6e6e6;
    }

    .elem:hover img {
        opacity: 1;
        left: 24%;
    }


    #marquee {
        /* height: 20vh; */
        width: fit-content;
        /* background-color: red; */
        white-space: nowrap;
        overflow-x: hidden;
        padding: 0.8vw;
        overflow-y: hidden;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
    }

    #marquee h1 {
        display: inline-block;
        font-size: 6vw;
        letter-spacing: 7px;
        text-transform: uppercase;
        font-weight: 900;
        -webkit-text-stroke: 2px black;
        color: transparent;
        font-family: monument;
        animation-name: move;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    #footer {
        height: 5%;
    }

    #sLast {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        padding: 6vw 4vw;
        gap: 6vw;
    }

    #sLast h1 {
        font-family: monument;
        font-size: 4.5vw;
    }

    #pimg1 h3 {
        width: 85%;
        font-size: 2.5vw;
        margin-bottom: 2vw;
    }

    #pimg1 img {
        width: 82%;
        height: 50%;
        object-fit: cover;
    }
}